<nav>
  <div class="navbar">
    <a href="{{site.baseurl}}">Home</a>
    <a href="{{site.baseurl}}/about">About</a>
    <a href="{{site.baseurl}}/guides/getting-started">Getting Started</a>
    <div class="dropdown">
      <button class="dropbtn">Sample Pages
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="dropdown-item" href="{{site.baseurl}}/samples/images">Headers and backgrounds</a>
        <a class="dropdown-item" href="{{site.baseurl}}/samples/bg-scrollbox">Backgrounds with scrolly boxes</a>
        <a class="dropdown-item" href="{{site.baseurl}}/samples/bg-switch">Background switching with scrolly boxes</a>
        <a class="dropdown-item" href="{{site.baseurl}}/samples/side-scroll">Side scrolling text</a>
        <a class="dropdown-item" href="{{site.baseurl}}/samples/directory">Directory</a>
        <!-- <a class="dropdown-item" href="{{site.baseurl}}/samples/map">Map</a> -->
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Guides
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="dropdown-item" href="{{site.baseurl}}/guides/getting-started">Getting Started</a>
        <a class="dropdown-item" href="{{site.baseurl}}/guides/editing-your-site">Editing Your Site</a>
        <a class="dropdown-item" href="{{site.baseurl}}/guides/loading-images">Loading images</a>
        <a class="dropdown-item" href="{{site.baseurl}}/guides/working-locally">Working Locally</a>
        <a class="dropdown-item" href="{{site.baseurl}}/guides/code">Code samples</a>
      </div>
    </div>
  </div>
</nav>